version: '3.8'

services:
  app:
    build: . # Dockerfile로 이미지 빌드
    container_name: essay-backend
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}

      # Google Cloud SQL 연결 정보
      DB_HOST: 34.64.150.171
      DB_NAME: myownessay-db
      DB_USERNAME: postgres
      DB_PASSWORD: ${DB_PASSWORD}

      JWT_SECRET_KEY: ${JWT_SECRET_KEY}

    ports:
      - "8080:8080"
    restart: unless-stopped  # 컨테이너 자동 재시작

networks:
  default:
    name: essay-network