spring:
  application:
    name: essay-backend

  datasource:
    url: ${DATABASE_URL}
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  security:
    jwt:
        secret: ${JWT_SECRET_KEY}
        expiration: 86400  # 1일 (초 단위)

openai:
  api-key: ${OPENAI_API_KEY}

server:
  port: 8080